{% extends 'control_panel/control_panel.html' %}
{% load humanize %}
{% block control_panel %}

    <div class="card">
        <h5 class="card-header">{{ product.name }}</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-8">
                    <img src="{{ product.picture.url }}" class="card-img image-detail" alt="...">
                    {% if product.isReference %}
                        <p class="card-text"><small class="text-muted">*Esta imagen es de referencia</small></p>
                    {% endif %}
                </div>
                <div class="col-md-8 col-8 align-self-center">
                        <h5 class="card-title my-2">Precio: $ {{ product.price|intcomma }}</h5>
                        <h6 class="card-subtitle text-muted my-2">SKU: {{ product.sku }}</h6>
                        <p class="card-text my-2">{{ product.description }}</p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-6 col-8 border-right">
                    <h6 class="card-subtitle">Macro-categorías</h6>
                    <ul class="list-group list-group-flush">
                        {% for mCategory in product.macroCategories.all %}

                            <li class="list-group-item">{{ mCategory.name }}</li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 col-8 border-left">
                    <h6 class="card-subtitle">Sub-categorías</h6>
                    <ul class="list-group list-group-flush">
                        {% for sCategory in product.subCategories.all %}

                            <li class="list-group-item">{{ sCategory.name }}</li>

                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr/>
            <div>

                <h6 class="mr-2 d-inline">Sub-Tipos</h6>
                <a href="{% url 'productvariant-create' %}?id={{ product.id }}"
                   class="btn btn-outline-success btn-sm d-inline ml-2">Agregar Sub-Tipo</a>

                <div class="row my-2">
                    {% for variant in product.productvariant_set.all %}
                        <div class="col-md-3 m-2 p-0">

                            <form method="POST" action="{% url "productvariant-delete" variant.id %}?id={{ product.id }}">
                                {% csrf_token %}
                                <div class="card tileLanding">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <h6 class="card-title m-0">{{ variant.name }}</h6>
                                        <button type="submit" class="btn btn-outline-danger fas fa-trash d-inline"></button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    {% endfor %}
                </div>
            </div>

            <hr/>
            <div>

                <h6 class="mr-2 d-inline">Tags de Búsqueda</h6>
                <a href="{% url 'productsearchtag-create' %}?id={{ product.id }}"
                   class="btn btn-outline-success btn-sm d-inline ml-2">Agregar Tag</a>

                <div class="row my-2">
                    {% for tag in product.productsearchtag_set.all %}
                        <div class="col-md-3 m-2 p-0">

                            <form method="POST" action="{% url "productsearchtag-delete" tag.id %}?id={{ product.id }}">
                                {% csrf_token %}
                                <div class="card tileLanding">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <h6 class="card-title m-0">{{ tag.name }}</h6>
                                        <button type="submit" class="btn btn-outline-danger fas fa-trash d-inline"></button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    {% endfor %}
                </div>
            </div>

            <hr/>
            <a href="{% url 'product-update' product.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

{% endblock %}