{% extends 'control_panel/control_panel.html' %}
{% load humanize %}
{% block control_panel %}

    <div class="container">

        <a class="btn btn-success mb-2" href="{% url 'product-create' %}">Agregar Producto</a>

        <hr/>

        <div class="row">
            <div class="col-md-8">
                <form class="form" action="{% url 'products' %}" method="GET">
                    <div class="form-row">
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg mr-1" id="searchText" name="search" placeholder="Buscar...">
                        </div>
                        <div class="col align-self-center">
                            <button type="submit" class="btn btn-primary btn-lg fas fa-search ml-1"></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>



        {% for product in products %}
            <div class="card my-2 w-75 tileLanding">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ product.picture.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8 align-self-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Precio: $ {{ product.price|intcomma }}</p>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><small class="text-muted">SKU: {{ product.sku }}</small></p>
                        </div>
                    </div>
                </div>
                <a class="stretched-link text-decoration-none" href="{% url 'product-detail' product.id %}"></a>
            </div>
        {% endfor %}


    </div>

{% endblock %}