{% extends 'landing/base.html' %}
{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Conócenos</h4>
                <h6 class="card-subtitle mb-2 text-muted">"Lo que usted necesita al instante"</h6>
                <p class="card-text">
                    Somos una papelería con tradición en la ciudad de Medellín con 40 años de vida
                    comercial, a lo largo de este recorrido, nos hemos caracterizado por prestar un excelente servicio
                    suministrando artículos de papelería y oficina a todos nuestros clientes de manera oportuna siendo
                    fieles a nuestro eslogan “lo que usted necesita al instante”.
                    <br><br>
                    Contamos con una ubicación privilegiada desde donde nos es fácil atender todas las necesidades de
                    nuestros clientes ubicados en el área metropolitana, contamos con punto de venta físico y con
                    despachos a domicilio totalmente
                    gratis.
                </p>
            </div>
        </div>
    </div>

{% endblock %}