{% extends 'landing/base.html' %}
{% load humanize %}
{% block content %}
    <div class="container">
        <div class="card p-2">
            <h5 class="card-title">Conoce nuestro catálogo</h5>
            <p class="lead">
                Tenemos un portafolio que cuenta con alrededor de 1.300 referencias que te ayudan a organizar tu
                negocio y adicional contamos con personal calificado para atender todas tus inquietudes y
                brindarte soluciones.
            </p>
        </div>
        <br>
        <hr/>
    <br>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form class="form" action="{% url 'catalog' %}" method="GET">
                    <div class="form-row">
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg mr-1" id="searchText" name="search" placeholder="Buscar...">
                        </div>
                        <div class="col align-self-center">
                            <button type="submit" class="btn btn-primary btn-lg fas fa-search ml-1"></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    <br>
        <div class="row">
            <div class="col-md-10 mx-auto d-flex justify-content-center">
                {% for category in macro_categories %}
                    <a class="btn btn-outline-primary btn-lg mx-2" href="{% url 'catalog' %}?cat={{ category.name }}" role="button">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    <br>

        {% for product in products %}
            <div class="card my-2 col-8 tileLanding mx-auto">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ product.picture.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8 align-self-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Precio: $ {{ product.price|intcomma }}</p>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><small class="text-muted">SKU: {{ product.sku }}</small></p>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-success" href="{% url 'add-to-cart' product.id %}">Añadir al Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if is_paginated %}

            <div class="text-center my-2">

                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary mb-4" href="?page=1">Inicio</a>
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Fin</a>
                {% endif %}

            </div>

        {% endif %}

    </div>
{% endblock %}