{% extends 'landing/base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="display-4">Conoce nuestro catálogo</h2>
            <p class="lead">
                Tenemos un portafolio que cuenta con alrededor de 1.300 referencias que te ayudan a organizar tu
                negocio y adicional contamos con personal calificado para atender todas tus inquietudes y
                brindarte soluciones.
            </p>
        </div>
        <br>
        <div class="row row-cols-6" id="catalog">
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Papeles y Rollos</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Servicios</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Cartones y Cartulina</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Bolígrafos y Lápices</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Tecnología</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Máquinas de Oficina</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Cintas y Pegantes</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Marcadores</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Insumos Oficina</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Sobres</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Pintura y Arte</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Materiales Didácticos</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Archivo</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Académico y Contable</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Formatos Legales</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Tableros y Carteleras</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Aseo, Cafetería y Piñatería</h5>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">Complemento Escolar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}