{% extends 'landing/base.html' %}
{% block content %}
    <div class="container">
        <div class="card p-2">
            <h4 class="card-title">Conoce nuestro catálogo</h4>
            <p class="lead">
                Tenemos un portafolio que cuenta con alrededor de 1.300 referencias que te ayudan a organizar tu
                negocio y adicional contamos con personal calificado para atender todas tus inquietudes y
                brindarte soluciones.
            </p>
        </div>
        <br>

    </div>
{% endblock %}