{% extends 'landing/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-center">

        <div class="col-8 col-lg-3 px-0 my-2">

            <div class="card p-2 mx-1 mb-2 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="card-img-top p-1 d-flex flex-row justify-content-center">
                    <i class="fas fa-phone fa-3x ml-auto mx-2"></i></a>
                    <p class="card-text m-0 mr-auto mx-2 my-auto font-weight-bold">Llámanos!</p>
                </div>
                <div class="card-body p-1 align-self-center">
                    <h6 class="card-title m-0 contact-info-detail">(+57)(4)408-5296</h6>
                </div>
                <a class="stretched-link text-decoration-none" href="tel:0344085296" target="_blank"></a>
            </div>

            <div class="card p-2 mx-1 mb-2 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="card-img-top p-1 d-flex flex-row justify-content-center">
                    <i class="fab fa-whatsapp fa-3x ml-auto mx-2"></i></a>
                    <p class="card-text m-0 mr-auto mx-2 my-auto font-weight-bold">Escríbenos!</p>
                </div>
                <div class="card-body p-1 align-self-center">
                    <h6 class="card-title m-0 contact-info-detail">(+57) 304-563-5068</h6>
                </div>
                <a class="stretched-link text-decoration-none"
                       href="https://wa.me/573006770572?text=Hola%20Papeleria%20Dimension!" target="_blank"></a>
            </div>

            <div class="card p-2 mx-1 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="card-img-top p-1 d-flex flex-row justify-content-center">
                    <i class="fas fa-at fa-3x ml-auto mx-2"></i></a>
                    <p class="card-text m-0 mr-auto mx-2 my-auto font-weight-bold">Escríbenos!</p>
                </div>
                <div class="card-body p-1 align-self-center">
                    <h6 class="card-title m-0 contact-info-detail">info@papeleriadimension.com</h6>
                </div>
                <a class="stretched-link text-decoration-none"
                       href="mailto:info@papeleriadimension.com?Subject=Contacto%20Sitio%20Web" target="_blank"></a>
            </div>

        </div>

        <div class="col-8 px-0 col-lg-5 my-2">

            <div class="card mx-1 h-100 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="p-1 align-self-center">
                    <h6 class="card-title m-0 contact-info font-weight-bold">Carrera 73 # 44 - 37 | Medellín</h6>
                </div>
                <div class="card-body map-container p-2 d-flex justify-content-center">
                    <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.103345196529!2d-75.59448668523073!3d6.250111395475934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ce95d789990213!2zUGFwZWxlcsOtYSBEaW1lbnNpw7Nu!5e0!3m2!1sen!2sus!4v1590772102138!5m2!1sen!2sus"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

        </div>

        <div class="col-8 px-0 col-lg-3 my-2">

            <div class="card mx-1 h-100 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="card-img-top h-75 d-flex justify-content-center">
                        <i class="fas fa-home fa-7x align-self-center"></i>
                </div>
                <div class="card-body align-self-center">
                    <h5 class="card-title contact-info font-weight-bold">¿Quiénes Somos?</h5>
                </div>
                <a class="stretched-link text-decoration-none" href="{% url 'about-us' %}"></a>
            </div>

        </div>

        <div class="col-8 px-0 my-2" id="mainMenu">

            <div class="card mx-1 h-100 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="d-flex justify-content-center pt-2">
                    <i class="fas fa-th fa-7x"></i>
                </div>
                <div class="card-text text-center pb-2 pt-2">
                    <h5 class="contact-info font-weight-bold">Catálogo</h5>
                    <a class="stretched-link text-decoration-none" href="{% url 'catalog' %}"></a>
                </div>
            </div>

        </div>

        <div class="col-8 px-0 my-2" id="mainMenu">

            <div class="card mx-1 h-100 border-0 shadow rounded tileLanding btn btn-outline-primary contact-card">
                <div class="d-flex justify-content-center pt-2">
                    <i class="fas fa-dollar-sign fa-7x"></i>
                </div>
                <div class="card-text text-center pb-2 pt-2">
                    <h5 class="contact-info font-weight-bold">Cotiza</h5>
                    <a class="stretched-link text-decoration-none" href="{% url 'pricing' %}"></a>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}