{% extends 'landing/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row row-cols-1 row-cols-md-5 justify-content-center">
        <div class="mb-4 col-12 px-0 mx-2">
            <div class="card h-100 dropdown" href="#" id="navbarDropdownMenuLink" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="card-img-top">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-home fa-7x"></i>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <h5>Conócenos</h5>
                </div>
            </div>
            <div class="dropdown-menu w-100 shadow-sm" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'about-us' %}">¿Quiénes Somos?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'location' %}">Punto de Venta</a>
            </div>
        </div>
        <div class="mb-4 col-12 px-0 mx-2">
            <div class="card h-100">
                <div class="d-flex justify-content-center">
                    <i class="fas fa-th fa-7x"></i>
                </div>
                <div class="card-footer text-center">
                    <h5>Catálogo</h5>
                </div>
            </div>
        </div>
        <div class="mb-4 col-12 px-0 mx-2">
            <div class="card h-100">
                <div class="d-flex justify-content-center">
                    <i class="fas fa-dollar-sign fa-7x"></i>
                </div>
                <div class="card-footer text-center">
                    <h5>Cotiza</h5>
                </div>
            </div>
        </div>
        <div class="mb-4 col-12 px-0 mx-2">
            <div class="card h-100">
                <div class="d-flex justify-content-center">
                    <i class="fas fa-hands-helping fa-7x"></i>
                </div>
                <div class="card-footer text-center">
                    <h5>Contáctanos</h5>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}