{% extends 'landing/base.html' %}
{% block content %}

    <div class="container">
        <div class="card border-0 shadow rounded">
            <div class="card-body">
                <h4 class="card-title mb-4">Nuestra Oficina</h4>
                <h5 class="card-subtitle mb-4 font-weight-bold">Carrera 74 # 44 - 33 | Medellín</h5>
                <p class="card-text">
                    Tenemos un portafolio que cuenta con alrededor de 1.300 referencias que te ayudan a organizar tu
                    negocio y adicional contamos con personal calificado para atender todas tus inquietudes y
                    brindarte soluciones.
                </p>
            </div>
            <div class="card border-0 shadow rounded">
                <div class="card-body text-center">
                    <div class="video-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.103345196697!2d-75.59449204956184!3d6.250111395453762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290a19856677%3A0xf2ce95d789990213!2zUGFwZWxlcsOtYSBEaW1lbnNpw7Nu!5e0!3m2!1sen!2sus!4v1589833620443!5m2!1sen!2sus" width="75%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}