body {
    background: #f7f7f7;
    color: #333333;
    margin-top: 5rem;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.table {
    margin: auto;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.details td {
    text-align: left;
}

.image-detail {
    height: 200px;
    width: 200px;
}